apiVersion: v1
kind: Secret
metadata:
  name: newrelic-otlp-secret
  namespace: kafka
type: Opaque
stringData:
  NEW_RELIC_LICENSE_KEY: YOUR_NEW_RELIC_LICENSE_KEY
  NEW_RELIC_OTLP_ENDPOINT: https://otlp.nr-data.net:4317
  # EU accounts: https://otlp.eu01.nr-data.net:4317
